<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="/background-css.php">
        <link rel="icon" type="image/png" href="/favicon.png">
        <title>{{message}}</title>
    </head>
    <body>
        <div class="content fixed">
        <div class="greeting">{{code}}</div>
        {{message}}
        </div>
        <div class="background fixed"></div>
    </body>
</html>