<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{> partials/cssbundle}}
        <link rel="icon" type="image/png" href="{{{wwwurl}}}/assets/images/favicon/icon.png">
        <title>{{message}}</title>
    </head>
    <body class="errorpage">
        <div class="content fixed">
        <div class="greeting">Error ({{code}})</div>
        {{message}}
        </div>
        <div class="background fixed"></div>
    </body>
</html>
