        </div>
        <a href="https://openweathermap.org/" class="time-weather hidden">
            <span class="time"></span>
            <i class="weather wi"></i>
        </a>
        <span class="useclientlocation"></span>
        <div class="background fixed"></div>
        <script src="/assets/js/index.bundle.js"></script>
    </body>
</html>