        </div>
        <span class="time-weather hidden">
            <a class="weather widget clickable" href="https://openweathermap.org/">
                <span class="weather-info">
                    <span class="desc"></span>
                    <span class="temp"></span>
                </span>
                <i class="weather-icon wi"></i>
            </a>
            {{# showclock}}<span class="time widget"></span>{{/ showclock}}
        </span>
        <span class="useclientlocation widget clickable"></span>
        <div class="header-bar">
            {{# showsearch}}
            <span class="search">
                <span class="close"></span>
                <form class="search-form">
                    <input type="search">
                </form>
                <span class="suggestion-list"></span>
            </span>
            {{/ showsearch}}
           {{# hastags }}<a href="#tags" class="show-tags"></a>{{/ hastags }}
        </div>
        {{# hastags}}
        <div id="tags" class="tags">
            <span class="header">Tags<span class="close"></span></span>
            <ul>
                <li><a href="{{{wwwurl}}}/">home</a></li>
                {{# tags}}<li><a href="{{{wwwurl}}}/tag/{{.}}/">{{.}}</a></li>{{/ tags}}
            </ul>
        </div>
        {{/ hastags}}
        <span class="unsplash"></span>
        <div class="background fixed"></div>
        <script defer src="{{{wwwurl}}}/assets/js/index.c63595ee13b76dab6fb3.min.js"></script>
    </body>
</html>
