        </div>
        <a href="https://openweathermap.org/" class="time-weather">
            <span class="time">21:44</span>
            <i class="weather wi"></i>
        </a>
        <div class="background fixed"></div>
        <script src="/assets/js/index.js"></script>
    </body>
</html>