<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{# noindex}}<meta name="robots" content="noindex">{{/ noindex}}
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
        {{# unsplashcolor}}<meta name="theme-color" content="{{unsplashcolor}}">{{/ unsplashcolor}}
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        {{> partials/cssbundle}}
        <link rel="stylesheet" href="{{{wwwurl}}}/background-css.php">
        <link rel="stylesheet" href="{{{wwwurl}}}/custom-width-css.php">
        <link rel="stylesheet" href="{{{wwwurl}}}/assets/css/weather-icons.min.css">
        <link rel="icon" type="image/png" href="{{{wwwurl}}}/assets/images/favicon/icon.png">
        <title>{{title}}</title>
        <script>
            const JUMP = {
                owmapikey: '{{owmapikey}}',
                metrictemp: '{{metrictemp}}',
                ampmclock: '{{ampmclock}}',
                token: '{{csrftoken}}',
                sites: '{{{sitesjson}}}',
                checkstatus: '{{checkstatus}}',
                searchengines: '{{{searchengines}}}',
                unsplash: '{{{unsplash}}}',
                unsplashcolor: '{{unsplashcolor}}',
                wwwurl: '{{{wwwurl}}}',
                strings: '{{{stringsforjs}}}'
            };
        </script>
    </head>
    <body>
        <div class="content fixed hidden {{# checkstatus}}status{{/ checkstatus}}">
            <div class="greeting">
            {{# greeting}}<span class="tagname"><span></span>{{greeting}}</span>{{/ greeting}}
            {{^ greeting}}<span class="chosen"></span>{{/ greeting}}
            </div>

