<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{# noindex}}<meta name="robots" content="noindex">{{/ noindex}}
        {{# unsplashcolor}}<meta name="theme-color" content="{{unsplashcolor}}">{{/ unsplashcolor}}
        {{> partials/cssbundle}}
        <link rel="stylesheet" href="{{{wwwurl}}}/background-css.php">
        <link rel="stylesheet" href="{{{wwwurl}}}/assets/css/weather-icons.min.css">
        <link rel="icon" type="image/png" href="{{{wwwurl}}}/assets/images/favicon/icon.png">
        <title>{{title}}</title>
        <script>
            const JUMP = {
                owmapikey: '{{owmapikey}}',
                metrictemp: '{{metrictemp}}',
                ampmclock: '{{ampmclock}}',
                token: '{{csrftoken}}',
                search: '{{{searchjson}}}',
                searchengines: '{{{searchengines}}}',
                unsplash: '{{{unsplash}}}',
                unsplashcolor: '{{unsplashcolor}}',
                wwwurl: '{{{wwwurl}}}'
            };
        </script>
    </head>
    <body>
        <div class="content fixed hidden">
            <div class="greeting">
            {{# greeting}}<span class="tagname"><span>#</span>{{greeting}}</span>{{/ greeting}}
            {{^ greeting}}Good <span class="chosen"></span>{{/ greeting}}
            </div>

