<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{# noindex}}<meta name="robots" content="noindex">{{/ noindex}}

        <title>{{sitename}}</title>

        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="background-css.php">
    </head>

    <body>
        <div class="content fixed">