{{# hassites}}
<ul class="sites {{# altlayout}}alternate{{/ altlayout}}">
{{# sites}}<li><a {{# newtab}}target="_blank"{{/ newtab}} rel="{{# nofollow}}nofollow {{/ nofollow}}{{# newtab}}noopener{{/ newtab}}" title="{{name}}" href="{{url}}">
    <span class="icon">
        <img src="/api/icon.php?siteurl={{#urlencode}}{{url}}{{/urlencode}}">
    </span>
    <span class="name">{{name}}</span>
</a></li>{{/ sites}}
</ul>
{{/ hassites}}
