{{# hassites}}
<ul class="sites">
    {{# sites}}
    <li><a {{# nofollow}}rel="nofollow"{{/ nofollow}} title="{{name}}" href="{{url}}">
        <span class="icon">
            <img src="{{icon}}">
        </span>
        <span class="name">{{name}}</span>
    </a></li>
    {{/ sites}}
</ul>
{{/ hassites}}