{{# hassites}}
<ul class="sites {{# altlayout}}alternate{{/ altlayout}}">
{{# sites}}<li id="{{id}}"><a {{# newtab}}target="_blank"{{/ newtab}} rel="{{# nofollow}}nofollow {{/ nofollow}}{{# newtab}}noopener{{/ newtab}}" title="{{description}}" href="{{url}}">
    <span class="icon">
        <img src="{{{wwwurl}}}/api/icon?siteurl={{#urlencode}}{{url}}{{/urlencode}}">
    </span>
    <span class="name">{{name}}</span>
</a></li>{{/ sites}}
</ul>
{{/ hassites}}
