.search {
    position:absolute;
    top:15px;
    height: 55px;
    width: 55px;
    display: block;
    background-position: top 13px left 13px;
    background-repeat: no-repeat;
    background-image: url(../images/search.svg);
    background-size: 24px;
    background-color: #ffffff15;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #ffffff20;
    overflow: hidden;
    padding:0;
    font-family: 'Quicksand', sans-serif;

    &:hover {
        background-color: #fff;
        box-shadow: 0 1px 5px rgba(0,0,0,.3);
        background-image: url(../images/search-dark.svg);
        border: 2px solid #cecece;
        transition: background-color, background-image .1s;
    }

    &.open {
        @extend :hover;
        width: calc(100% - 30px);
        max-width: 450px;
        cursor: auto;
        border-radius: 5px;
        border: .2em solid #cecece;
        box-shadow: 0 1px 5px rgba(0,0,0,.3);

        .close {
            position: absolute;
            top: 0;
            right: 0;
            height: 48px;
            width: 48px;
            display: inline-block;
            background-position: top 50% left 50%;
            background-repeat: no-repeat;
            background-image: url(../images/close-dark.svg);
            background-size: 30px;
            cursor: pointer;
            border: 5px solid #fff;
            border-radius: 50%;
            z-index: 1;

            &:hover {
                background-color: #f3f3f3;
            }
        }

        .search-form {
            display: inline-block;
        }
    }

    &.suggestions {
        height: auto;

        .suggestion-list {
            display: block;
            padding-top: 20px;
            margin-top: 25px;
            padding-bottom:10px;
            border-top: 1px solid #ddd;
            text-align: left;
            color: #202124;
            font-size: 15px;

            .selected {
                border: 1px solid red;
            }

            ul {
                padding: 10px 0 0 0;
                margin: 0;
                list-style-type: none;

                li a {
                    display: block;
                    padding: 5px 0 5px 15px;
                    text-decoration: none;
                    color: inherit;

                    &:focus,
                    &:hover {
                        outline: none;
                        background-color: #eee;
                    }
                }
            }

            .searchproviders {
                margin-bottom: 20px;

                li a {
                    display: block;
                    background-position: top 50% left 15px;
                    background-repeat: no-repeat;
                    background-image: url(../images/search-dark.svg);
                    background-size: 17px;
                    padding-left: 50px;

                    span {
                        color: #999;
                    }
                }
            }

            .suggestiontitle {
                margin: 0 0 0 15px;
                display: block;
                color: #888;
                font-size: 15px;
                text-transform: uppercase;
            }

            ul.suggestions {
                padding-bottom: 15px;
            }

            .icon {
                width: 20px;
                vertical-align: middle;
                margin-right: 15px;
            }

            .name {
                vertical-align: middle;
            }
        }
    }

    .search-form {
        display: none;
        position: relative;
        top: 14px;
        overflow: hidden;
        width: calc(100% - 35px);
        text-align: left;
        color: #202124;
        padding-right: 48px;

        input {
            display: block;
            width: 100%;
            background: transparent;
            border: none;
            color: #202124;
            font-size: 17px;
            font-family: 'Quicksand', sans-serif;
            padding: 0 0 0 15px;
            margin: 0;
            outline: none;
            position: relative;
        }

        // Remove the 'x' icon from Internet Explorer
        input[type=search]::-ms-clear,
        input[type=search]::-ms-reveal {
            display: none;
            width: 0;
            height: 0;
        }

        // Remove the 'x' icon from chrome
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
            display: none;
        }
    }
}
