.sites {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 14px;
	user-select: none;

	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
		font-size: 14px;
		user-select: none;
		display: inline-block;

		a {
			color: inherit;
			text-decoration: none;
			display: inline-block;
			padding: 12px;
			border-radius: 6px;

			&:hover {
				background-color: #ffffff15;
				transition: background-color .1s;
			}
		}
	}

	.icon {
		display: block;
		background-color: #fff;
		width: 80px;
		height: 80px;
		border-radius: 6px;
		border: .2em solid #fff;
		box-shadow: 0 1px 5px rgba(0,0,0,.3);
		padding: 15px;
		margin-bottom: 8px;
		background-image: url(../images/loading.svg);
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: 20px;

		img {
			width: 100%;
			background: #fff;
		}
	}

	.name {
		display: block;
		width: 80px;
		max-height: 3.3em;
		overflow: hidden;
		word-wrap: break-word;
		text-shadow: 1px 1px 1px #000000a0;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.sites.alternate {
	width: 100%;
	margin-top: 20px;

	li {
		float: left;
		width: 50%;
		text-align: left;
		padding: 0 5px;
		margin-bottom: 10px;

		a {
			background-color: rgba(255,255,255,0.8);
			box-shadow: 0 1px 5px rgba(0,0,0,.3);
			padding: 8px;
			width: 100%;
			transition: background-color .1s, box-shadow .1s;
			position: relative;
			overflow: hidden;

			&:hover {
				background-color: #fff;
				box-shadow: 0 1px 5px rgba(0,0,0,.6);
			}
		}
	}

	.icon {
		width: 35px;
		height: 35px;
		display: inline-block;
		padding: 0;
		border: none;
		border-radius: 6px;
		overflow: hidden;
		box-shadow: none;
		vertical-align: middle;
		margin: 0 8px 0 0;
	}

	.name {
		width: auto;
		display: inline-block;
		vertical-align: middle;
		text-shadow: none;
		color: #202124;
		position: absolute;
		top: 50%;
		height: 14px;
		line-height: 14px;
		margin-top: -7px;
	}
}

@media (max-width: 500px) {
	.sites.alternate {
		li {
			width: 100%;
		}
	}
}
